body {
	font-family:  "Trebuchet MS", Helvetica, sans-serif;
	background-color: #ddd;
}
h1 {
	font-family:  "Trebuchet MS", Helvetica, sans-serif;
}
p {
	line-height: 1.5;
}


.menu {
	height: 40px;
	background-color: #7CBF9E;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	margin-bottom: 10px;
}
.title1  {
	font-size: 20px;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
}
.user-info {
	margin: 10px 10px 10px 0;
	float: right;
}


.email_header{
	padding-top:10px;
	padding-right:10px;
	text-align: right;
}

.email_footer p{
	line-height: 1.0;
	text-align: center;
	padding-bottom: 50px;
	font-size: 12px;
	margin:0;
}


.loading_div {
	padding:250px;
}
.div_height {
	padding: 70px 0;
}
.bg_blue {
	background-color: rgb(97,143,252);
}
.bg_green {
	background-color: #7CBF9E;
}
.bg_red {
	background-color: #6E2525;
}
.bg_dark {
	background-color: rgb(53,53,53);
}
.bg_white {
	background-color: white;
	color: rgb(53,53,53);
}


.start_page {
	padding-top: 50px;
	text-align: center;
}
.start_page h1 {
	/*width: 300px;*/
	/*white-space: normal;*/
	word-wrap: keep-all;
}

.stress {
	color:black;
	font-weight:bold;
}

.empty_line {
	height: 40px;
	margin:0;
	padding:0;
}

#frieds_top_list img {
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 8px;
}


/* 분석 결과 화면 */

.the-box {
	background-color: #fff;
	box-shadow: 1px 1px 2px #999;
	margin-bottom: 20px;
}
.subtitle{
	background-color: #5bb75b;
	color: white;
}
.descrip{
	padding-top: 10px;	
	padding-bottom: 10px;	
}
.loading-img {
	text-align: center;
	padding: 0 0 30px 0;
}
.subtitle, .descrip, .result {
	padding-left: 10px;
	padding-right: 10px;
}
.result {
	padding-bottom: 20px;
}


/* Responsive Style */

@media (min-width: 979px) {
	body {
	  padding-top: 60px;
	}
}

@media (max-width: 979px) {
	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
	  padding: 0px;
	}
}

@media (max-width: 767px) {
	.user-info {
	  float:left;
	}
	body {
	  padding-left:0px;
	  padding-right:0px;
	}
	.navbar-fixed-top {
	  margin-left: 0;
	  margin-right: 0;  
	}
	.my-container {
		padding-left:8px;
		padding-right:8px;
	}
	#frieds_top_list .result img {
		width: 14.66%;
		margin-left: 1%;
		margin-right: 1%;
		margin-bottom: 7px;
	}
}

@media (max-width: 480px) {
	#frieds_top_list .result img {
		width: 23%;
		margin-left: 1%;
		margin-right: 1%;
		margin-bottom: 7px;
	}
}